:root {
  --blue: rgb(20, 120, 167);
  --blueRGB: 20, 120, 167;
  --darkBlue: rgb(15, 48, 98);
  --darkBlueRGB: 15, 48, 98;
  --lightBlue: rgb(82, 181, 217);
  --lightBlueRGB: 82, 181, 217;
  --red: rgb(255, 115, 105);
  --redRGB: 255, 115, 105;
  --gray: rgb(78, 78, 78);
  --lightGray: rgb(128, 128, 128);
}


/*
Device viewport
Check out this article about device viewport.
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/env
*/



* {
  font-family: "Poppins", "Sans-serif";
}


